name: Trivy CI Security

on:
  push:
    branches: [ "main" ]
    paths:
      - "Applications/**"
  pull_request:
    branches: [ "main" ]
    paths:
      - "Applications/**"

jobs:
  trivy-config-scan:
    name: Scan Kubernetes manifests (Trivy config)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Scan les manifests / YAML (IaC mode)
      - name: Run Trivy config scan on Kubernetes manifests
        uses: aquasecurity/trivy-action@master #Test de la version master
        with:
          scan-type: 'config'          # Mode IaC (K8s, Terraform, etc.)
          scan-ref: './Applications'   # Dossier avec tes YAML
          hide-progress: true
          format: 'table'              # Affichage lisible dans les logs
          severity: 'HIGH,CRITICAL'    # On cible les problèmes sérieux
          ignore-unfixed: true         # Ignore les CVE sans correctif dispo
          exit-code: '1'               # ⚠️ Fait échouer le job si vulnérabilités
